@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-primary: #5b3c88;
  --bg-main: #121214;
  --bg-card: #202024;
  --bg-hover: #29292e;
  --text-main: #ffffff;
  --text-muted: #a8a8b3;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
